@charset "utf-8";

@font-face {
    font-family: 'M';
    src: url('../font/NanumMyeongjo.ttf');
}

@font-face {
    font-family: 'M-blod';
    src: url('../font/NanumMyeongjoBold.ttf');
}

@font-face {
    font-family: 'M-Eblod';
    src: url('../font/NanumMyeongjoExtraBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

header .bg {
    width: 100%;
    height: 980px;
    background: url('../img/main-img.png') no-repeat center / cover;
    position: relative;
}

header .menu-box {
    width: 1600px;
    height: 70px;
    background-color: rgba(244, 244, 244, 0.5);
    display: flex;
    position: absolute;
    top: 40px;
    left: 50%;
    backdrop-filter: blur(10px);
    transform: translateX(-50%);
    border-radius: 70px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header .menu-inner {
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

}

header .menu-inner .logo {
    width: 160px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header .menu-inner .logo img {
    width: 100%;
    height: auto;
}

header .menu-inner>ul {
    font-family: 'M-blod';
    display: flex;
    justify-content: space-around;
    color: #947B61;

}

header .menu-inner ul>li a:hover {
    font-weight: 600;
    color: #694A2A;
    font-family: 'M-Eblod';
}

header .menu-inner .left {
    width: 40%;
    margin-right: 150px;
}

header .menu-inner .left li {
    width: 20%;
    text-align: center;
}

header .menu-inner .right {
    width: 20%;
}

header .menu-inner .right li {
    width: 20%;
    text-align: center;
}

.menu-box .menu-inner .icon {
    margin-left: 50px;
    width: 8%;
    cursor: pointer;
}

.fa-magnifying-glass {
    font-size: 1.3rem;
    z-index: 999;
    position: relative;
}


.fa-earth-americas {
    font-size: 1.3rem;
}

.search-li {
    position: relative;  
}

.search-box {
    width: 100px;
    position: absolute;
    bottom: -4px;
    right: 20px;
    opacity: 0;
    transition: all .4s;
}

.search-box input {
    width: 130px;
    height: 30px;
    border-radius: 25px;
    padding-left: 10px;
    background-color: rgba(255, 231, 231, 0.808);
    color: #947B61;
    border: 1px solid #694A2A;
    outline: none;
}

.icon li {
    position: relative;
}

.icon li>ul>li {
    padding-bottom: 10px;
}

.icon .lang {
    transition: all .5;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 60px;
    text-align: center;
    background-color: #fff;
    padding-top: 5px;
    opacity: 0;
    transition: all .3s;
}

.icon li:nth-child(2):hover .lang {
    opacity: 1;
}
/* gotop */

.gotop {
    width: 60px;
    height: 60px;
    background-color: #BEA081;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    color: #ffff;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
    font-family: 'M-blod';
    display: none;
}

/* main */

.section1 .bg {

    width: 100%;
    height: 800px;
    background: url('../img/section1img.png') no-repeat center/cover;
}

.section1 .text {
    text-align: center;
    padding-top: 350px;
    color: #583613;
}

.section1 .text p:nth-child(1) {
    padding-bottom: 20px;
    font-family: 'M-Eblod';
    font-size: 28px;
}

.section1 .text p:nth-child(2) {
    font-size: 24px;
    line-height: 35px;
    font-family: 'M-blod';
}

.packge .bg {
    width: 100%;
    height: 1100px;
    background: url('../img/section2-bg.png') no-repeat center/cover;
}

.packge .text {
    text-align: center;
    padding-top: 200px;
    font-size: 1.5rem;
}

.packge .text p:nth-child(1) {
    font-family: 'M-Eblod';
    font-size: 28px;
    color: #583613;

}

.packge .text p:nth-child(2) {
    padding-top: 10px;
    font-family: 'M-blod';
    color: #775B3F;
}

.packge .grid {
    display: grid;
    width: 800px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 20px;
    margin: 0 auto;
    padding-top: 50px;
}

.packge .grid .item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.packge .grid .item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.packge .grid .item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.packge .grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.packge .more {
    font-family: 'M';
    background-color: #fdf7ef;
    border: 2px solid #583613;
    color: #583613;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    margin: 50px auto;
    transition: all .3s;
    cursor: pointer;
}

.packge .more:hover {
    background-color: #583613;
    color: #fff;
}

.yarn .bg {
    width: 100%;
    height: 1500px;
    background: url('../img/section3-bg.png') no-repeat center / cover;
}

.yarn .text {
    text-align: center;
    padding-top: 200px;
    color: #583613;
}

.yarn .text p:nth-child(1) {
    padding-bottom: 10px;
    font-size: 28px;
    font-family: 'M-Eblod';
}

.yarn .text p:nth-child(2) {
    font-size: 24px;
    font-family: 'M-blod';
    color: #775B3F;
}

.yarn .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
    margin: 0 auto;
    gap: 30px;
    padding-top: 80px;
}

.yarn .item .goods {
    width: calc(100% - 60px) 4;
    cursor: pointer;
}

.yarn .item .goods .itembox {
    width: 300px;
    height: 300px;
}

.yarn .item .goods .itembox img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.yarn .item .goods .info {
    width: 100%;
    height: 100px;
    background-color: #fff;
    text-align: center;
    padding-top: 15px;
    line-height: 25px;
}

.yarn .item .goods .info p:nth-child(1) {
    font-family: 'M-blod';
    color: #583613;
}

.yarn .item .goods .info p:nth-child(2) {
    font-family: 'M';
    color: #947B61;
}

.yarn .item .goods .info h3 {
    font-family: 'M-Eblod';
    color: #583613;
}

.yarn .more {
    font-family: 'M';
    background-color: #fdf7ef;
    border: 2px solid #583613;
    color: #583613;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    margin: 80px auto;
    transition: all .3s;
    cursor: pointer;
}

.yarn .more:hover {
    background-color: #583613;
    color: #fff;
}


.design .bg {
    width: 100%;
    height: 1000px;
    background: url('../img/section4-bg.png') no-repeat center / cover;
    position: relative;
}

.design .text {
    position: absolute;
    bottom: 110px;
    left: 22%;
}

.design .text p:nth-child(1) {
    color: #583613;
    font-family: 'M-Eblod';
    font-size: 28px;
    padding-bottom: 20px;
    line-height: 40px;
}

.design .text p:nth-child(2) {
    color: #775B3F;
    font-family: 'M-blod';
    font-size: 24px;
    line-height: 30px;
}

.design .more {
    font-family: 'M';
    background-color: #fdf7ef;
    border: 2px solid #583613;
    color: #583613;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    margin-top: 40px;
    transition: all .3s;
    cursor: pointer;
}

.design .more:hover {
    background-color: #583613;
    color: #fff;
}

.design .ds {
    width: 650px;
    height: 800px;
    position: absolute;
    bottom: -80px;
    left: 50%;
}

.design .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mamber .bg {
    width: 100%;
    height: 220px;
    background: url('../img/membership-bg.png');
    margin-top: 200px;
}

.mamber .text {
    text-align: center;
    padding-top: 50px;
}

.mamber .text p:nth-child(1) {
    font-size: 28px;
    font-family: 'M-blod';
    color: #583613;
}

.mamber .text p:nth-child(2) {
    font-size: 22px;
    font-family: 'M';
    color: #583613;
    padding-top: 10px;
}

.mamber .more {
    font-family: 'M';
    background-color: #fdf7ef;
    border: 2px solid #583613;
    color: #583613;
    width: 130px;
    padding: 8px 0;
    text-align: center;
    margin: 20px auto;
    transition: all .3s;
    cursor: pointer;
}

.mamber .more:hover {
    background-color: #583613;
    color: #fff;
}


.review .bg {
    width: 100%;
    height: 1200px;
    background: url('../img/section5-bg.jpg')no-repeat center/cover;
    position: relative;
}

.review .bg .contain > p {
    text-align: center;
    color: #583613;
    font-family: 'M-Eblod';
    font-size: 28px;
}

.review .contain {
    padding-top: 400px;
}

.review .rs {
    width: 60%;
    padding-top: 50px;
    cursor: pointer;
}

.review .swiper-slide {
    width: 350px;
}

.review .swiper-slide .itembox {
    width: 350px;
    height: 350px;
}

.review .swiper-slide .itembox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.review .swiper-slide .info {
    width: 350px;
    height: auto;
    background-color: #fff;
    padding: 15px 10px;
}

.review .swiper-slide .info p {
    width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
}

.review .idstar {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.review .idstar img {
    width: 108px;
    height: 20px;
}

.review span {
    color: #787878;
}

.review .swiper-bn {
    width: 24px;
    height: 49px;
    background: url('../img/slide-bt.png')no-repeat center/cover;
    position: absolute;
    right: 300px;
    top: 55%;

}

.review .swiper-bp {
    width: 24px;
    height: 49px;
    background: url('../img/slide-bp.png')no-repeat center/cover;
    position: absolute;
    left: 280px;
    top: 55%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    z-index: 999;
    display: none;
    background-color: rgba(122, 122, 122, 0.5);
}

.popup .pitem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup .main {
    box-shadow: 2px 2px 10px rgba(122, 122, 122, 0.5);
    width: 600px;
    height: 500px;
    border-bottom: none;
}

.popup .main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.popup .info {
    box-shadow: 2px 2px 10px rgba(122, 122, 122, 0.5);
    display:  flex;
    padding: 25px 15px;
    width: 600px;
    height: auto;
    background-color: #fff;
}

.popup .text {
    padding-left: 20px;
}

.popup .text p:nth-child(1) {
    padding-bottom: 50px;
}

.popup .text p:nth-child(2){
    color: #787878;
}

.popup .text p:nth-child(3){
    color: #787878;

}

.popup .idstar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.popup .idstar img {
    width: 108px;
    height: 20px;
}

.popup .idstar span {
    padding-right: 20px;
    color: #787878;
}


.insta {
    width: 100%;
    height: 500px;
    background-color: #F4EAE5;
    overflow: hidden;
}

.insta p {
    font-size: 28px;
    color: #583613;
    font-family: 'M-Eblod';
    text-align: center;
}

.insta .slide-wrap {
    display: flex;
    padding-top: 30px;
    animation: roll 30s linear infinite;
    white-space: nowrap;
    cursor: pointer;
}

@keyframes roll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.insta .bing {
    display: flex;
}

.insta .slide {
    display: flex;
}

.insta .slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    padding-right: 10px;
}

/* footer */

footer {
    width: 100%;
    background-color: #E6D5C3;
}

footer .inner {
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    padding: 70px 0 80px;
}

footer .info-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .left .logo img {
    width: 50%;
}

footer .left .text {
    padding-left: 35px;
    font-family: 'M-blod';
}

footer .info-wrap h4, h3{
    font-family: 'M-Eblod';
    padding-bottom: 20px;
    color: #583613;
}

footer .info-wrap p {
    line-height: 25px;
    color: #694A2A;
    font-family: 'M';
}

footer .mid {
    padding-top: 56px
}

footer .right {
    padding-top: 56px
}

footer .icon img {
    padding-left: 10px;
    cursor: pointer;
}

/* J */

.search-box.on {
    opacity: 1;
}

.fa-magnifying-glass.on{
    color: #583613;
}

.gotop.on {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}